In [ ]:
pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /usr/local/lib/python3.10/dist-packages (0.0.3)

In [ ]:
import pandas as pd

In [ ]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
credit_approval = fetch_ucirepo(id=27)

# data (as pandas dataframes)
X = credit_approval.data.features
y = credit_approval.data.targets

# metadata
print(credit_approval.metadata)

# variable information
print(credit_approval.variables)

{'uci_id': 27, 'name': 'Credit Approval', 'repository_url': 'https://archive.ics.uci.edu/dataset/27/credit+approval', 'data_url': 'https://archive.ics.uci.edu/static/public/27/data.csv', 'abstract': 'This data concerns credit card applications; good mix of attributes', 'area': 'Business', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 690, 'num_features': 15, 'feature_types': ['Categorical', 'Integer', 'Real'], 'demographics': [], 'target_col': ['A16'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1987, 'last_updated': 'Wed Aug 23 2023', 'dataset_doi': '10.24432/C5FS30', 'creators': ['J. R. Quinlan'], 'intro_paper': None, 'additional_info': {'summary': 'This file concerns credit card applications.  All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data.\r\n  \r\nThis dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values.  There are also a few missing values.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'A1:\tb, a.\r\nA2:\tcontinuous.\r\nA3:\tcontinuous.\r\nA4:\tu, y, l, t.\r\nA5:\tg, p, gg.\r\nA6:\tc, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.\r\nA7:\tv, h, bb, j, n, z, dd, ff, o.\r\nA8:\tcontinuous.\r\nA9:\tt, f.\r\nA10:\tt, f.\r\nA11:\tcontinuous.\r\nA12:\tt, f.\r\nA13:\tg, p, s.\r\nA14:\tcontinuous.\r\nA15:\tcontinuous.\r\nA16: +,-         (class attribute)', 'citation': None}}
   name     role         type demographic description units missing_values
0   A16   Target  Categorical        None        None  None             no
1   A15  Feature   Continuous        None        None  None             no
2   A14  Feature   Continuous        None        None  None            yes
3   A13  Feature  Categorical        None        None  None             no
4   A12  Feature  Categorical        None        None  None             no
5   A11  Feature   Continuous        None        None  None             no
6   A10  Feature  Categorical        None        None  None             no
7    A9  Feature  Categorical        None        None  None             no
8    A8  Feature   Continuous        None        None  None             no
9    A7  Feature  Categorical        None        None  None            yes
10   A6  Feature  Categorical        None        None  None            yes
11   A5  Feature  Categorical        None        None  None            yes
12   A4  Feature  Categorical        None        None  None            yes
13   A3  Feature   Continuous        None        None  None             no
14   A2  Feature   Continuous        None        None  None            yes
15   A1  Feature  Categorical        None        None  None            yes

In [ ]:
#Displaying the feature and target variable values
print(X)
print(y)

     A15    A14 A13 A12  A11 A10 A9    A8  A7  A6 A5 A4      A3     A2 A1
0      0  202.0   g   f    1   t  t  1.25   v   w  g  u   0.000  30.83  b
1    560   43.0   g   f    6   t  t  3.04   h   q  g  u   4.460  58.67  a
2    824  280.0   g   f    0   f  t  1.50   h   q  g  u   0.500  24.50  a
3      3  100.0   g   t    5   t  t  3.75   v   w  g  u   1.540  27.83  b
4      0  120.0   s   f    0   f  t  1.71   v   w  g  u   5.625  20.17  b
..   ...    ...  ..  ..  ...  .. ..   ...  ..  .. .. ..     ...    ... ..
685    0  260.0   g   f    0   f  f  1.25   h   e  p  y  10.085  21.08  b
686  394  200.0   g   t    2   t  f  2.00   v   c  g  u   0.750  22.67  a
687    1  200.0   g   t    1   t  f  2.00  ff  ff  p  y  13.500  25.25  a
688  750  280.0   g   f    0   f  f  0.04   v  aa  g  u   0.205  17.92  b
689    0    0.0   g   t    0   f  f  8.29   h   c  g  u   3.375  35.00  b

[690 rows x 15 columns]
    A16
0     +
1     +
2     +
3     +
4     +
..   ..
685   -
686   -
687   -
688   -
689   -

[690 rows x 1 columns]

In [ ]:
# Reverse the order of columns in DataFrame X
X_reversed = X.iloc[:, ::-1]
print(X_reversed)

    A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15
0    b  30.83   0.000  u  g   w   v  1.25  t   t    1   f   g  202.0    0
1    a  58.67   4.460  u  g   q   h  3.04  t   t    6   f   g   43.0  560
2    a  24.50   0.500  u  g   q   h  1.50  t   f    0   f   g  280.0  824
3    b  27.83   1.540  u  g   w   v  3.75  t   t    5   t   g  100.0    3
4    b  20.17   5.625  u  g   w   v  1.71  t   f    0   f   s  120.0    0
..  ..    ...     ... .. ..  ..  ..   ... ..  ..  ...  ..  ..    ...  ...
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  260.0    0
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  200.0  394
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  200.0    1
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  280.0  750
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g    0.0    0

[690 rows x 15 columns]

In [ ]:
# Concatenate reversed X (features) and y (target variable) into a single DataFrame
dataframe = pd.concat([X_reversed, y], axis=1)

In [ ]:
#Shape of the dataframe
print(dataframe.shape)

(690, 16)

In [ ]:
#Printing the head of the dataframe
print(dataframe.head())

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202.0    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0   +

In [ ]:
#Printing the tail of the dataframe
print(dataframe.tail())

    A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  260.0    0   -
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  200.0  394   -
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  200.0    1   -
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  280.0  750   -
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g    0.0    0   -

The dataset, obtained from the UCI machine learning repository with strict data confidentiality measures, has been anonymized to protect sensitive information. However, referencing the information available in the provided [blog](https://rstudio-pubs-static.s3.amazonaws.com/73039_9946de135c0a49daa7a0a9eda4a67a72.html), we can identify the specific variable names associated with the dataset. These variables include Gender, Age, Debt, Marital Status, Banking Customer Status, Education Level, Ethnicity, Years of Employment, Prior Default History, Employment Status, Credit Score, Driver's License Status, Citizenship, Zip Code, Income, and Approval Status.

In [ ]:
#Changing the varible names into meaningful values
dataframe_cols = ['Gender', 'Age', 'Debt', 'MaritalStatus', 'BankCustomerStatus', 'EducationLevel', 'Ethnicity', 'YearsEmployed', 'PriorDefaultHistory', 'EmploymentStatus', 'CreditScore', 'DriversLicenseStatus','Citizen', 'ZipCode', 'Income', 'ApprovalStatus']
dataframe.columns = dataframe_cols

In [ ]:
#Displaying the data after changing variable names
#Head
dataframe.head(20)

,Gender,Age,Debt,MaritalStatus,BankCustomerStatus,EducationLevel,Ethnicity,YearsEmployed,PriorDefaultHistory,EmploymentStatus,CreditScore,DriversLicenseStatus,Citizen,ZipCode,Income,ApprovalStatus
0,b,30.83,0.000,u,g,w,v,1.250,t,t,1,f,g,202.0,0,+
1,a,58.67,4.460,u,g,q,h,3.040,t,t,6,f,g,43.0,560,+
2,a,24.50,0.500,u,g,q,h,1.500,t,f,0,f,g,280.0,824,+
3,b,27.83,1.540,u,g,w,v,3.750,t,t,5,t,g,100.0,3,+
4,b,20.17,5.625,u,g,w,v,1.710,t,f,0,f,s,120.0,0,+
5,b,32.08,4.000,u,g,m,v,2.500,t,f,0,t,g,360.0,0,+
6,b,33.17,1.040,u,g,r,h,6.500,t,f,0,t,g,164.0,31285,+
7,a,22.92,11.585,u,g,cc,v,0.040,t,f,0,f,g,80.0,1349,+
8,b,54.42,0.500,y,p,k,h,3.960,t,f,0,f,g,180.0,314,+
9,b,42.50,4.915,y,p,w,v,3.165,t,f,0,t,g,52.0,1442,+
10,b,22.08,0.830,u,g,c,h,2.165,f,f,0,t,g,128.0,0,+
11,b,29.92,1.835,u,g,c,h,4.335,t,f,0,f,g,260.0,200,+
12,a,38.25,6.000,u,g,k,v,1.000,t,f,0,t,g,0.0,0,+
13,b,48.08,6.040,u,g,k,v,0.040,f,f,0,f,g,0.0,2690,+
14,a,45.83,10.500,u,g,q,v,5.000,t,t,7,t,g,0.0,0,+
15,b,36.67,4.415,y,p,k,v,0.250,t,t,10,t,g,320.0,0,+
16,b,28.25,0.875,u,g,m,v,0.960,t,t,3,t,g,396.0,0,+
17,a,23.25,5.875,u,g,q,v,3.170,t,t,10,f,g,120.0,245,+
18,b,21.83,0.250,u,g,d,h,0.665,t,f,0,t,g,0.0,0,+
19,a,19.17,8.585,u,g,cc,h,0.750,t,t,7,f,g,96.0,0,+

In [ ]:
#Tail
dataframe.tail(20)

,Gender,Age,Debt,MaritalStatus,BankCustomerStatus,EducationLevel,Ethnicity,YearsEmployed,PriorDefaultHistory,EmploymentStatus,CreditScore,DriversLicenseStatus,Citizen,ZipCode,Income,ApprovalStatus
670,b,47.17,5.835,u,g,w,v,5.500,f,f,0,f,g,465.0,150,-
671,b,25.83,12.835,u,g,cc,v,0.500,f,f,0,f,g,0.0,2,-
672,a,50.25,0.835,u,g,aa,v,0.500,f,f,0,t,g,240.0,117,-
673,NaN,29.50,2.000,y,p,e,h,2.000,f,f,0,f,g,256.0,17,-
674,a,37.33,2.500,u,g,i,h,0.210,f,f,0,f,g,260.0,246,-
675,a,41.58,1.040,u,g,aa,v,0.665,f,f,0,f,g,240.0,237,-
676,a,30.58,10.665,u,g,q,h,0.085,f,t,12,t,g,129.0,3,-
677,b,19.42,7.250,u,g,m,v,0.040,f,t,1,f,g,100.0,1,-
678,a,17.92,10.210,u,g,ff,ff,0.000,f,f,0,f,g,0.0,50,-
679,a,20.08,1.250,u,g,c,v,0.000,f,f,0,f,g,0.0,0,-
680,b,19.50,0.290,u,g,k,v,0.290,f,f,0,f,g,280.0,364,-
681,b,27.83,1.000,y,p,d,h,3.000,f,f,0,f,g,176.0,537,-
682,b,17.08,3.290,u,g,i,v,0.335,f,f,0,t,g,140.0,2,-
683,b,36.42,0.750,y,p,d,v,0.585,f,f,0,f,g,240.0,3,-
684,b,40.58,3.290,u,g,m,v,3.500,f,f,0,t,s,400.0,0,-
685,b,21.08,10.085,y,p,e,h,1.250,f,f,0,f,g,260.0,0,-
686,a,22.67,0.750,u,g,c,v,2.000,f,t,2,t,g,200.0,394,-
687,a,25.25,13.500,y,p,ff,ff,2.000,f,t,1,t,g,200.0,1,-
688,b,17.92,0.205,u,g,aa,v,0.040,f,f,0,f,g,280.0,750,-
689,b,35.00,3.375,u,g,c,h,8.290,f,f,0,t,g,0.0,0,-